/* Halaman Index */



/* Halaman Camera */
.preview-box {
    width: 260px;          /* ukuran preview */
    position: relative;
    background: #fff;
    padding: 20px 16px 60px;
    border-radius: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.18);
    margin: 0 auto;
    transform: rotate(-1.75deg);
    transition: 0.3s ease;
}
/* GRID FOTO */
.photo-grid {
    width: 100%;
    height: 100%;
    display: grid;
    gap: 12px;
    position: relative;
    z-index: 1;
}
    /* MODE GRID 2x2 */
    .photo-grid.grid {
        grid-template-columns: repeat(2, 1fr);
    }
    /* MODE STRIP VERTIKAL */
    .photo-grid.strip {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }

/* FOTO PREVIEW */
.photo-grid img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

/* FRAME OVERLAY */
.frame-preview {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 2;
}
/* Text dibawah strip */
.preview-box::after {
    content: "PhotoBooth";
    position: absolute;
    bottom: 18px;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.camera-container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
    background: black;
    padding: 20px;
    border-radius: 10px;
}
video {
    width: 100%;
    height: auto;
   /* aspect-ratio: 1 / 1; */
   object-fit: cover;
}
canvas{
    display: none;
}
img {
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
}
.photo-wrapper {
    position: relative;
}
#video, #photo {
    width: 100%;
    border-radius: 10px;
}

.filter-grayscale {
    filter: grayscale(100%);
}
.filter-sepia {
    filter: sepia(100%);
}


/* Halaman About */
/* ikon halaman about */
.tech-icons {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 12px;
}
.tech-icons img{
    align-items: center;
    width: 32px;
    height:50px;
    object-fit: contain;
    opacity: 0.85;
}
.tech-icons img:hover {
    opacity: 1;
    transform: scale(2);
    transition: 0.2 ease;
}
    /* bagian section hijau */
    .feature-section {
        background-color: #0f3d3a; /* hijau gelap elegan */
        border-radius: 24px;
        margin: 80px 0;
    }
    .feature-card {
        background-color: #134e4a;
        color: #e5f6f3;
        padding: 24px;
        border-radius: 16px;
    }
    .feature-card h5 {
        font-weight: 600;
        margin-bottom: 8px;
    }
    .feature-card p {
        font-size: 0.9rem;
        opacity: 0.9;
    }



